.requisition-details
  .row
    .col-md-2
      = image_tag provider.user.avatar.url(:medium), class: "img-responsive img-circle"
    .col-md-10
      %h2.page-header
        = provider.user.full_name
      %p
        = provider.user.bio_data
      %ul.list-inline.text-center
        %li
          %label Rating
          %br
          %span= provider.try(:total_rating) || 0
        - if provider.is_a?(Sponsor)
          %li
            %label Volunteer
            %br
            %span= provider.volunteer ? "Yes" : "No"
          %li
            %label Total Cases
            %br
            %span= provider.sponsorship_requisitions.completed.count
          %li
            %label On Going Cases
            %br
            %span= provider.sponsorship_requisitions.approved.count
        - if provider.is_a?(Auditor)
          %li
            %label Experience
            %br
            %span= provider.past_experience
          %li
            %label Total Cases
            %br
            %span= provider.audit_requisitions.completed.count
          %li
            %label On Going Cases
            %br
            %span= provider.audit_requisitions.approved.count
      %hr
      = link_to  profile_path(provider.user_id), class: "btn btn-info btn-block-container" do
        View Profile
