.modal.fade{"aria-labelledby" => "auditorOngoingProgressModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title.text-center Looks like there is an on going case!!!
      .modal-body
        It seems that you are already approved for a requisition. You need to complete your case successfully in order to place offer for New Requisitions
      .modal-footer
        = link_to "I Agree", user_authenticated_root_url(subdomain: APP_SUBDOMAIN[:dashboard]), data: { turbolinks: false }, class: "btn btn-success btn-block-container"
