- content_for :javascript do
  $location = new Location({}, true);
  $location.initializeLocation();
  $location.setMap();

  CommonRequisition.initializeRequisitions();

%blockquote.blockquote
  %h1= @sponsorship_requisition.subject

%p= simple_format @sponsorship_requisition.description

.bs-callout.bs-callout-info
  Requisition Details
.container-fluid
  .bs-callout.bs-callout-primary
    .row
      .col-md-2
        = image_tag requisition_progress_icons[@sponsorship_requisition.status.to_s], class: "img-responsive"
      .col-md-10
        .requisition-details
          %ul.list-inline.text-center
            %li
              %label Tenure
              %br
              %span= pluralize @sponsorship_requisition.tenure, "month"
            %li
              %label Duration
              %br
              %span
                = @sponsorship_requisition.start_date.strftime("%b, %y")
                &ndash;
                = @sponsorship_requisition.end_date.strftime("%b, %y")
            %li
              %label Grade Level
              %br
              %span
                = @sponsorship_requisition.grade_level
            - if @sponsorship_requisition.audit_requisition.present?
              %li
                %label Status
                %br
                %span.label{class: "label-#{requisition_progress_classes[@sponsorship_requisition.status]}"}
                  = @sponsorship_requisition.status.humanize
              - if @sponsorship_requisition.audit_requisition.open?
                %li
                  %label Audit Offers
                  %br
                  %span
                    (
                    = @sponsorship_requisition.audit_requisition.audit_offers.length
                    )
              - if @sponsorship_requisition.audit_requisition.approved?
                %li
                  %label Auditor
                  %br
                  %span= link_to @sponsorship_requisition.audit_requisition.provider.user.full_name, profile_path(@sponsorship_requisition.audit_requisition.provider.user_id)

        -# Extra Content
        = yield

        %blockquote.blockquote
          %h3 Student Details
        .row
          .col-md-6
            .col-md-4
              = image_tag @sponsorship_requisition.student.user.avatar.url(:medium), class: "img-responsive img-circle"
            .col-md-8
              %h2= @sponsorship_requisition.student.user.full_name
            .col-md-12
              %br
              %ul
                %li
                  %label Gender:
                  %span= @sponsorship_requisition.student.gender == 0 ? "Male" : "Female"
                %li
                  %label Age:
                  %span= @sponsorship_requisition.student.age
                %li
                  %label DOB:
                  %span= @sponsorship_requisition.student.date_of_birth.strftime("%d %b, %Y")
              = link_to "View Profile", profile_path(@sponsorship_requisition.student.user_id), class: "btn btn-info btn-block-container"
          .col-md-6
            .google-maps
        %blockquote.blockquote
          %h3 School Details
        .row
          .col-md-6
            .col-md-12
              %h2= @sponsorship_requisition.school.name
            .col-md-12
              %br
              %ul
                %li
                  %label Staffs:
                  %span= @sponsorship_requisition.school.staffs
                %li
                  %label Students:
                  %span= @sponsorship_requisition.school.students
                %li
                  %label Fees
                  %span= number_to_currency @sponsorship_requisition.school.fees
          .col-md-6
            .google-maps
