#auditRequisitionModal.modal.fade{"aria-labelledby" => "messageModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Audit Requisition
      .modal-body
        .applied-requisitions
          .requisition-section
            .requisition-progress
              %h3
                = link_to "javascript:void(0);" do
                  = best_in_place @sponsorship_requisition.audit_requisition, :subject, :as => :input, inner_class: "form-control", url: requisitions_audit_path(@sponsorship_requisition)
              %p.description#description-activator{style: "font-size: 15px;"}
                = link_to "javascript:void(0);", class: "thumbnail" do
                  = best_in_place @sponsorship_requisition.audit_requisition, :description, :as => :textarea,
                    :ok_button => 'Save', :cancel_button => 'Cancel',
                    ok_button_class: "btn btn-success btn-sm save-desc",
                    cancel_button_class: "btn btn-danger btn-sm cancel-desc",
                    inner_class: "form-control",
                    display_as: "description_format", :activator => "#description-activator", url: requisitions_audit_path(@sponsorship_requisition)
      .modal-footer
        %button.btn.btn.btn-primary.btn-sm.btn-container{"data-dismiss" => "modal", :type => "button"} Close
