.dashboard
  #auditors
    .row
      .col-md-3.pull-right
        %blockquote.blockquote-reverse
          .wallet_funds
            %strong My Wallet
            %small.funds
              = number_to_currency(current_auditor.funds)
      .col-md-9
        %h1.page-header.label-name
          %i.fa.fa-tachometer
          Dashboard
        %h1.user-name
          %small= current_user.full_name
        %p
          &ndash;
          %em "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut "
    .stats
      .container-fuild
        .row
          .col-md-6
          .col-md-5.pull-right
            .right-section
              .panel.panel-success
                .panel-heading
                  .panel-title
                    %strong= current_auditor.audit_requisitions.completed_case.length
                    %span Completed
    - if @audit_requisition.present?
      .bs-callout.bs-callout-info
        %h4
          %strong On Going Case
      .applied-requisitions
        .requisition-section
          = render_progress "Auditor", requisition: @audit_requisition do
            .audit-report-actions
              = render partial: "requisitions/progress/auditors/upload_report_form"
              %p
                %strong Note:
                If you are not able to upload Report withen 3 weeks your requisition will be cancelled automatically.
    - else
      .bs-callout.bs-callout-success.text-center
        %h3
          %strong There is no Requisition Progress
        Search
        = link_to "New Requisitions", search_requisitions_path
        of amazing Sponsorship Programs.
    .bs-callout.bs-callout-success
      %h4
        %strong Completed Cases

    - if @completed_cases.present?
      - @completed_cases.each do |requisition|
        .applied-requisitions
          .requisition-section
            = render_progress "Auditor", requisition: requisition.sponsorship_requisition, school_view: false, content: false do
              %table.table.table-bordered#overall_summary
                %tbody
                  %tr
                    %th.text-center
                      Rated
                    %th.text-center
                      Reviews
                    %th.text-center
                      Report
                  %tr
                    %td
                      = 3
                    %td
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    %td
                      = link_to requisitions_audit_report_path(requisition, requisition.audit_report, deposition: "attachment", format: :pdf), class: "btn btn-warning btn-block btn-sm" do
                        %i.fa.fa-file-text
                        Download Report
    - else
      .container-fluid
        .bs-callout.bs-callout-primary
          No Completed Cases
