- content_for :javascript do
  Sponsors.initializePayments();
  Landing.initializeFundingChart()

.dashboard
  #sponsors
    .row
      .col-md-6
        %blockquote.blockquote.funds-blockquote
          Welcome
          %small= current_user.full_name
      .col-md-6
        %blockquote.blockquote.blockquote-reverse.funds-blockquote
          Total Funds in your Wallet
          %small= number_to_currency(current_sponsor.funds)
          = link_to "#", :type => "button", id: "sponsorWalletModalLink" do
            %i.fa.fa-plus
            Add Funds to my Wallet

    .stats
      .container-fuild
        .row
          .col-md-6
            #fundingChartContainer{style: "height:300px;"}
          .col-md-5.pull-right
            .right-section
              .panel.panel-danger
                .panel-heading
                  .panel-title
                    %strong= @sponsorship_requisitions.completed_case.length
                    %span All Cases

              .panel.panel-success
                .panel-heading
                  .panel-title
                    %strong= @sponsorship_requisitions.on_going_case.length
                    %span On Going Cases
    .bs-callout.bs-callout-info
      %h4
        %strong Recent Cases
    - if @sponsorship_requisitions.present?
      - @sponsorship_requisitions.each do |sponsorship_requisition|
        .bs-callout.bs-callout-primary
          .requisition-details
            .container-fluid
              .row
                .col-md-2
                  = image_tag requisition_progress_icons[sponsorship_requisition.status], class: "img-responsive"
                .col-md-10
                  %blockquote.blockquote
                    %h2.page-header
                      = sponsorship_requisition.subject
                      %small
                        Created On -
                        = sponsorship_requisition.created_at.strftime("%d %B, %Y")
                  %p
                    = simple_format sponsorship_requisition.description
                  %ul.list-inline
                    %li
                      %label Grade Level
                      %br
                      %span= sponsorship_requisition.grade_level
                    %li
                      %label School
                      %br
                      %span= sponsorship_requisition.school.name
                    %li
                      %label Tenure
                      %br
                      %span
                        = sponsorship_requisition.tenure
                        Month(s)
                    %li
                      %label Status
                      %br
                      %span.label{class: "label-#{requisition_progress_classes[sponsorship_requisition.status]}"}
                        = sponsorship_requisition.status.humanize
                    - if sponsorship_requisition.audit_requisition.present? and sponsorship_requisition.audit_requisition.open?
                      %li
                        %label Audit Offers
                        %br
                        %span
                          = "(#{sponsorship_requisition.audit_requisition.audit_offers.length})"
                    - elsif sponsorship_requisition.audit_requisition.present? and sponsorship_requisition.audit_requisition.provider.present?
                      %li
                        %label Auditor
                        %br
                        %span
                          = link_to sponsorship_requisition.audit_requisition.provider.user.full_name, profile_path(sponsorship_requisition.audit_requisition.provider.user_id)

                  %hr
                  = link_to  progress_requisition_path(sponsorship_requisition.id), class: "btn btn-info btn-block-container" do
                    View Status
    - else
      .container-fluid
        .bs-callout.bs-callout-danger
          No recent Case

.modal-popup{data: { valid: popup_is_set?.to_s }}
  - allow_popup(false)
  = render partial: "dashboard/sponsors/wallet"
