.dashboard
  #students
    .authform-container-fluid
      .row
        .col-md-3.pull-right
          %a.thumbnail{href: "#"}
            = image_tag current_user.avatar.url(:medium), class: 'img-responsive'
        .col-md-9
          %h1.page-header.label-name
            %i.fa.fa-tachometer
            My Dashboard
          %h1.user-name
            %small= current_user.full_name
            %span= "(#{current_student.age} year(s) old)"

  - if @sponsorship_requisition.blank?
    .bs-callout.bs-callout-info.text-center
      %h3
        %strong There is no Requisition In Progress
      Create your
      = link_to "New Requisition", new_requisitions_sponsorship_path
      to get Sponsorship Offers.
  - else
    .student-dashboard

      .bs-callout.bs-callout-info
        %h4
          %strong On Going Case
      .bs-callout.bs-callout-primary
        .requisition-details
          = render partial: "dashboard/students/requisition", locals: { sponsorship_requisition: @sponsorship_requisition }

      .bs-callout{class: "bs-callout-warning"}
        %h4
          %strong
          My Sponsor

      .container-fluid
        .bs-callout.bs-callout-primary
          - if @sponsorship_requisition.try(:provider).present?
            = render partial: "requisitions/shared/approved_provider_details", locals: { provider: @sponsorship_requisition.provider }
          - else
            No Sponsorship Offers for your requisition

      .bs-callout{class: "bs-callout-success"}
        %h4
          %strong
          My Auditor

      .container-fluid
        .bs-callout.bs-callout-primary
          - if @sponsorship_requisition.audit_requisition.try(:provider).present?
            = render partial: "requisitions/shared/approved_provider_details", locals: { provider: @sponsorship_requisition.audit_requisition.provider }
          - else
            No Audit Offers for your requisition

  .bs-callout{class: "bs-callout-danger"}
    %h4
      %strong
      Rejected Requisitions

  - if @rejected_requisitions.present?
    .requisition-details
      = render partial: "dashboard/students/requisition", collection: @rejected_requisitions, as: :sponsorship_requisition
  - else
    .container-fluid
      .bs-callout.bs-callout-primary
        No Rejected Requisitions
