.container
  .row
    .col-md-3
      %a.thumbnail{href: "#", style: "width: 250px;height: 250px;"}
        = image_tag current_user.avatar.url(:medium), class: 'img-responsive file-input-image', style: "max-width: 100%;max-height: 100%;"
    .col-md-8
      .form-group{style: "margin-top: 10em;"}
        = f.preview_image_field :avatar
