#participantProfile
  / nav bar
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  .container
    .row
      .col-sm-3
        .full_name
          = @participant.full_name
        %a.btn.btn-danger.btn-block.btn-compose-email{href: edit_user_registration_path}
          %i.fa.fa-pencil
          Edit Profile
        %ul.nav.nav-pills.nav-stacked.nav-email.shadow.mb-20
          - if @participant.is_a?(Auditor) or @participant.is_a?(Sponsor)
            %li
              %a{:href => "#"}
                %i.fa.fa-star
                Rating
                %span.pull-right.label{class: rating_status(@participant.total_rating)}= @participant.total_rating
            - if @participant.is_a?(Sponsor)
              %li
                %a{:href => "#"}
                  %i.fa.fa-list
                  On Going Cases
                  %span.pull-right= @participant.sponsorship_requisitions.on_going_case.length
              %li
                %a{:href => "#"}
                  %i.fa.fa-list
                  Total Cases
                  %span.pull-right= @participant.sponsorship_requisitions.completed_case.length
            - else
              %li
                %a{:href => "#"}
                  %i.fa.fa-list
                  Total Cases
                  %span.pull-right= @participant.audit_requisitions.completed_case.length
            %li
              %a{:href => "#"}
                %i.fa.fa-smile-o
                Reviews
                %span.pull-right= @participant.received_reviews.length
          - else
            %li
              %a{:href => "#"}
                %i.fa.fa-file-text-o
                Total Requisitions
                %span.label.label-info.pull-right.inbox-notification= @participant.sponsorship_requisitions.length
            %li
              %a{:href => "#"}
                Guardian Monthly Income
                %span.label.label-info.pull-right.inbox-notification= @participant.guardian_monthly_income
            %li
              %a{:href => "#"}
                Age
                %span.label.label-info.pull-right.inbox-notification= @participant.age
            - if @participant.date_of_birth.present?
              %li
                %a{:href => "#"}
                  Date Of Birth
                  %span.label.label-info.pull-right.inbox-notification= @participant.date_of_birth.strftime("%B %d, %Y")
      .col-sm-9
        / resumt
        .panel.panel-default
          .panel-heading.resume-heading
            .row
              .col-lg-12
                .col-xs-12.col-sm-4
                  %figure
                    = image_tag @participant.user.avatar.url(:medium), class: "img-responsive img-circle"
                  .row
                    .col-xs-12.social-btns
                      .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                        %a.btn.btn-social.btn-block.btn-google{:href => "#"}
                          %i.fa.fa-google
                      .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                        %a.btn.btn-social.btn-block.btn-facebook{:href => "#"}
                          %i.fa.fa-facebook
                      .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                        %a.btn.btn-social.btn-block.btn-twitter{:href => "#"}
                          %i.fa.fa-twitter
                      .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                        %a.btn.btn-social.btn-block.btn-linkedin{:href => "#"}
                          %i.fa.fa-linkedin
                      .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                        %a.btn.btn-social.btn-block.btn-github{:href => "#"}
                          %i.fa.fa-github
                      .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                        %a.btn.btn-social.btn-block.btn-stackoverflow{:href => "#"}
                          %i.fa.fa-stack-overflow
                .col-xs-12.col-sm-8
                  %ul.list-group
                    %li.list-group-item= @participant.first_name
                    %li.list-group-item= @participant.last_name
                    %li.list-group-item= @participant.username
                    %li.list-group-item
                      %i.fa.fa-phone
                      +92316-2683386
                    %li.list-group-item
                      %i.fa.fa-envelope
                      = @participant.email
                    %li.list-group-item
                      %i.fa.fa-map-marker
                      = @participant.address.location
                    - if defined?(@participant.gender)
                      %li.list-group-item
                        %i.fa.fa-mars-stroke
                        = @participant.gender == 0 ? "Male" : "Female"
          .bs-callout.bs-callout-danger
            %h4 Bio Data
            %p
              = simple_format @participant.user.bio_data

          - if @participant.is_a?(Auditor)
            .bs-callout.bs-callout-danger
              %h4 Past Experience
              %p=@participant.past_experience
            .bs-callout.bs-callout-danger
              %h4 Qualification
              %p=@participant.qualification
            .bs-callout.bs-callout-danger
              %h4 Skills
              %p=@participant.skills

          - if @participant.is_a?(Auditor) or @participant.is_a?(Sponsor)
            - @participant.received_reviews.each_with_index do |review, i|
              .bs-callout.bs-callout-danger
                %h4
                  = i+1
                  Reviews
                %ul.list-group
                  %a.list-group-item.inactive-link{:href => "#"}
                    %h4.list-group-item-heading
                      Rating
                      %small.pull-right
                        By
                        = review.rater.full_name
                    %p.list-group-item-text
                      = rating_input review.rating

                  %a.list-group-item.inactive-link{:href => "#"}
                    %h4.list-group-item-heading Comments
                    %p.list-group-item-text
                      = review.comment

            - if @participant.is_a?(Auditor) and current_user.id == @participant.user_id
              .bs-callout.bs-callout-danger
                %h4
                  Payemtns & Transaction
                %table.table.table-striped.table-responsive
                  %thead
                    %tr
                      %th Bank Name
                      %th Branch
                      %th Cheque Number
                      %th Amount
                      %th Date
                  %tbody
                    - @participant.transactions.each do |t|
                      %tr
                        %td= t.bank_name
                        %td= t.branch
                        %td= t.check_number
                        %td= number_to_currency t.amount
                        %td= t.created_at.strftime("%B %d, %Y")
          - else
            .bs-callout.bs-callout-danger
              %h4 List of Sponsors
              - if @participant.sponsorship_requisitions.validated.order("created_at desc").present?
                %ul.list-group
                  - @participant.sponsorship_requisitions.validated.order("created_at desc").each do |resq|
                    %li.list-group-item
                      = link_to resq.provider.full_name, profile_path(resq.provider.user_id)
              - else
                %p
                  Currently No Sponsors
            - if @participant.sponsorship_requisitions.present?
              .bs-callout.bs-callout-danger
                %h4 Reports & Requisitions
                - @participant.sponsorship_requisitions.each do |resq|

                  %ul.list-inline
                    %li
                      %label Subject
                      = resq.subject
                    %li
                      %label Total Offers
                      = resq.sponsorship_offers.length

                  - if resq.audit_requisition.present? and resq.audit_requisition.audit_report.present?
                    %table.table.table-striped.table-responsive
                      %thead
                        %tr
                          %th Total Marks
                          %th Out of
                          %th Percentage
                          %th Result
                      %tbody
                        %tr
                          %td= number_with_decimal resq.audit_requisition.audit_report.total_marks
                          %td= resq.audit_requisition.audit_report.total_report_marks
                          %td= number_to_percentage resq.audit_requisition.audit_report.percentage
                          %td
                            %span.label{class: result_label[resq.audit_requisition.audit_report.result]}= resq.audit_requisition.audit_report.result.humanize
