-# - content_for :javascript do

-# Common Details for all users
= render_common_details(f) do |f|
  = f.simple_fields_for :auditor do |s|
    %fieldset
      %legend
        Gender
      .form-group
        = s.label :gender, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.collection_radio_buttons(:gender, [['0', 'Male'], ['1', 'Female']], :first, :last, :checked => current_auditor.gender) do |b|
            = b.label { b.radio_button + b.text }
    %fieldset
      %legend
        Experience & Qualification
      .form-group
        = s.label :past_experience, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :past_experience, label: false, placeholder: "Experience (XYZ Company - 5 Years)"
      .form-group
        = s.label :qualification, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :qualification, label: false, placeholder: "Detailed Qualification"
      .form-group
        = s.label :skills, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :skills, label: false, placeholder: "Skills (Ability to work to deadlines, under pressure.)"
