- content_for :javascript do
  $location = new Location();
  $location.initializeLocation();
  $location.setMapForm();
  ProfileWizard.initializeWizard();

%fieldset
  %legend General Info
  - if block.present? and current_sponsor
    = capture(f, &block) # It will extract the inside block snippet here and pass the "f" object in it
  - else
    .form-group
      = f.label :first_name, class: "col-sm-3"
      .col-md-9.col-md-9.col-lg-9
        = f.input :first_name, label: false, class: "form-control", placeholder: "Your First Name"
    .form-group
      = f.label :last_name, class: "col-sm-3 col-md-2 col-lg-3"
      .col-sm-9.col-md-9.col-lg-9
        = f.input :last_name, label: false, class: "form-control", placeholder: "Your Last Name"
  .form-group
    = f.label :username, class: "col-sm-3 col-md-3 col-lg-3"
    .col-md-9.col-sm-9.col-lg-9
      = f.input :username, label: false, class: "form-control", placeholder: "Display Username"

  .form-group
    = f.label :bio_data, class: "col-sm-3 col-md-3 col-lg-3"
    .col-md-9.col-sm-9.col-lg-9
      = f.input :bio_data, label: false, class: "form-control", placeholder: "Overview Details", input_html: { rows: 6 }
  .form-group
    = f.label :national_id, "NIC/NTN Number", class: "col-sm-3 col-md-3 col-lg-3"
    .col-md-9.col-sm-9.col-lg-9
      = f.input :national_id, label: false, class: "form-control", placeholder: "NIC Number"

= capture(f, &block) if current_student or current_auditor

= f.simple_fields_for current_user.active_participant.to_sym do |s|
  = s.simple_fields_for :address do |c|
    %fieldset
      %legend Address/Location
      .form-group
        = c.label :location, class: "col-sm-3 col-md-2 col-lg-3"
        .col-sm-9.col-md-9.col-lg-9
          = c.input :location, label: false, class: "form-control", placeholder: "Search Location", input_html: { id: "location_input" }
          = c.input :latitude, as: :hidden, input_html: { id: "latitude_input" }
          = c.input :longitude, as: :hidden, input_html: { id: "longitude_input" }
          = c.input :place_id, as: :hidden, input_html: { id: "place_id_input" }
      .form-group
        .google-maps
      .form-group
        = c.label :city, class: "col-sm-3 col-md-2 col-lg-3"
        .col-sm-9.col-md-9.col-lg-9
          = c.input :city, label: false, class: "form-control", placeholder: "City", input_html: { id: "city_input" }
      .form-group
        = c.label :state, class: "col-sm-3 col-md-2 col-lg-3"
        .col-sm-9.col-md-9.col-lg-9
          = c.input :state, label: false, class: "form-control", placeholder: "State", input_html: { id: "state_input" }
      .form-group
        = c.label :zip, "Zip Code", class: "col-sm-3 col-md-2 col-lg-3"
        .col-sm-9.col-md-9.col-lg-9
          = c.input :zip, label: false, class: "form-control", placeholder: "Zip Code"
