- form_class = "" if form_class.blank?
= simple_form_for @user, url: wizard_path, method: :put, html: { class: "wizard_form #{form_class}" } do |f|

  = yield f

  .actions
    %ul.list-inline
      %li.col-md-2= button_tag "Next", type: :submit, class: "btn btn-success btn-block"
      - if @user.valid_with_step?([:profile_picture, :payment_info, :finished])
        %li.col-md-2= link_to "Skip", next_wizard_path, class: "btn btn-success btn-block btn-info"
      - unless @step == User.profile_steps.first
        %li.col-md-2= link_to "Previous", previous_wizard_path, class: "btn btn-success btn-block btn-info"
