- content_for :javascript do
  ProfileWizard.initializeSponsorStep();

= f.simple_fields_for :sponsor do |s|
  %h3 Want to serve as a Volunteer
  %p
    .checkbox.checkbox.checkbox-inline
      = s.radio_button :volunteer, true, checked: current_sponsor.volunteer == true ? true : false
      %label{:for => "user_sponsor_attributes_volunteer_true"}
        Yes
    .checkbox.checkbox.checkbox-inline
      = s.radio_button :volunteer, false, checked: current_sponsor.volunteer == false ? true : false
      %label{:for => "user_sponsor_attributes_volunteer_false"}
        No

  %h3 Are you a Business User
  %p
    .business_user_check
      .checkbox.checkbox.checkbox-inline
        = s.radio_button :organization, true, checked: current_sponsor.organization == true ? true : false
        %label{:for => "user_sponsor_attributes_organization_true"}
          Yes
      .checkbox.checkbox.checkbox-inline
        = s.radio_button :organization, false, checked: current_sponsor.organization == false ? true : false
        %label{:for => "user_sponsor_attributes_organization_false"}
          No

  %h3 Please provide the details below
  .business_user_details{class: current_sponsor.organization == false ? 'hide-element' : ''}
    .form-group
      = s.label :organization_title, class: "col-sm-3 col-md-3 col-lg-3"
      .col-md-9.col-sm-9.col-lg-9
        = s.input :organization_title, label: false, class: "form-control", placeholder: "Organization Title"


-# Common Details for all users
= render_common_details(f) do |f|
  .business_user_details{class: current_sponsor.organization == true ? 'hide-element' : ''}
    .form-group
      = f.label :first_name, class: "col-sm-3 col-md-3 col-lg-3"
      .col-md-9.col-sm-9.col-lg-9
        = f.input :first_name, label: false, class: "form-control", placeholder: "First Name"
    .form-group
      = f.label :last_name, class: "col-sm-3 col-md-3 col-lg-3"
      .col-md-9.col-sm-9.col-lg-9
        = f.input :last_name, label: false, class: "form-control", placeholder: "Last"
