- content_for :javascript do
  ProfileWizard.initializeStudentStep();
  
-# Common Details for all users
= render_common_details(f) do |f|
  = f.simple_fields_for :student do |s|
    %fieldset
      %legend
        Age
      .form-group
        = s.label :gender, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.collection_radio_buttons(:gender, [['0', 'Male'], ['1', 'Female']], :first, :last, :checked => current_student.gender) do |b|
            = b.label { b.radio_button + b.text }
      .form-group
        = s.label :age, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :age, label: false, collection: 3..18, prompt: "Select your age"
      .form-group
        = s.label :date_of_birth, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :date_of_birth, as: :string, label: false, placeholder: "Date of Birth"
    .form-group
      = s.label :current_school, class: "col-sm-3 col-md-3 col-lg-3"
      .col-md-9.col-sm-9.col-lg-9
        = s.input :current_school, label: false, placeholder: "Are you attending any school currently?"
    %fieldset
      %legend
        Guardian Information
      .form-group
        = s.label :guardian_name, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :guardian_name, label: false, placeholder: "Guardian Name"
      .form-group
        = s.label :guardian_monthly_income, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :guardian_monthly_income, label: false, placeholder: "Guardian Monthly Income"
