- content_for :javascript do
  ProfileWizard.initializeWizard();
  
.wizard
  .wizard-inner
    .connecting-line
    %ul.nav.nav-tabs.wizard-tabs{:role => "tablist", class: current_user.active_participant == "auditor" ? "auditor-steps" : ''}
      %li.disabled{:role => "presentation"}
        %a{"aria-controls" => "who_are_you", data: { step: profiles_build_path(:who_are_you) }, :href => "#who_are_you", :role => "tab", :title => "Who Are You"}
          %span.round-tab
            %i.glyphicon.glyphicon-user
      %li.disabled{:role => "presentation"}
        %a{"aria-controls" => "personal_details", data: { step: profiles_build_path(:personal_details) }, :href => "#profile_picture", :role => "tab", :title => "Personal Details"}
          %span.round-tab
            %i.glyphicon.glyphicon-pencil
      %li.disabled{:role => "presentation"}
        %a{"aria-controls" => "profile_picture", data: { step: profiles_build_path(:profile_picture) }, :href => "#profile_picture", :role => "tab", :title => "Profile Picture"}
          %span.round-tab
            %i.fa.fa-user-circle
      - if current_user.active_participant == "auditor"
        %li.disabled{:role => "presentation"}
          %a{"aria-controls" => "payment_info", data: { step: profiles_build_path(:payment_info) }, :href => "#payment_info", :role => "tab", :title => "Payment Info"}
            %span.round-tab
              %i.fa.fa-credit-card-alt
      %li.disabled{:role => "presentation"}
        %a{"aria-controls" => "finished", data: { step: profiles_build_path(:finished) }, :href => "#finished", :role => "tab", :title => "Finish"}
          %span.round-tab
            %i.glyphicon.glyphicon-ok
