= render "steps_bar", step: 2

%br

#finished_step
  .panel.panel-primary
    .panel-body
      %p
        Thank you for signing up. We welcome you to our site. Click the continue button to continue.
        You'll be navigate to your dashboard.
      %br
      - if User.profile_steps.last == @step and current_user.active_participant == "auditor"
        = link_to "Previous", previous_wizard_path, class: "btn btn-primary"
      - else
        = link_to "Previous", wizard_path(:profile_picture), class: "btn btn-primary"
      = link_to "Finish", next_wizard_path, class: "btn btn-success finish"
