= render "steps_bar", step: 4

%br

%blockquote.blockquote
  %h1
    Please Provide your Banking Details
    %small{style: "font-size: 60%;"} In order to get paid by Sponsors you need to provide your banking details to Pull the payments.
  %p
    You can skip this information for now


= render layout: 'profiles/build/shared/form', locals: { form_class: "form-horizontal" } do |f|
  .authform-container-fluid
    = f.simple_fields_for :auditor do |s|
      .form-group
        = s.label :mobile_number, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :mobile_number, label: false, class: "form-control", placeholder: "Mobile Number"
      .form-group
        = s.label :account_number, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :account_number, label: false, class: "form-control", placeholder: "Account Number"
      .form-group
        = s.label :routing_number, class: "col-sm-3 col-md-3 col-lg-3"
        .col-md-9.col-sm-9.col-lg-9
          = s.input :routing_number, label: false, class: "form-control", placeholder: "Routing Number"
