= render "steps_bar", step: 2

%br

%blockquote.blockquote
  %h1
    Hello
    %strong= current_user.active_participant.capitalize + ", "
    Provide Your Details

-#= validation_errors_notifications(@user)
%a.clear-personal-details-fields.pull-right{href: "#"} Clear All Fields
= render layout: 'profiles/build/shared/form', locals: { form_class: "form-horizontal" } do |f|
  .authform-container-fluid
    = render partial: "profiles/build/shared/#{current_user.active_participant}", locals: { f: f }
