- content_for :javascript do
  ProfileWizard.initializeWizard();
  Profile.initialize();
= render "steps_bar", step: 3

%br

%blockquote.blockquote
  %h1
    Set Your Profile Picture
-# - if @user.errors.[:avatar].present?

= render layout: 'profiles/build/shared/form', locals: { form_class: "form-horizontal" } do |f|
  = render partial: "profiles/avatar", locals: { f: f }
