= render "steps_bar", step: 1

%br

%blockquote.blockquote
  %h1
    Tell us Who Are You
= render layout: 'profiles/build/shared/form' do |f|
  #who_are_you

    .radio.radio-info
      = f.radio_button :active_participant, "sponsor", checked: (current_user.has_role?(Sponsor)), class: "user_roles_toggle", id: "user_assigned_role_sponsor"
      %label{:for => "user_assigned_role_sponsor"}
        Sponsor
    .radio.radio-success
      = f.radio_button :active_participant, "student", checked: current_user.has_role?(Student), class: "user_roles_toggle", id: "user_assigned_role_student"
      %label{:for => "user_assigned_role_student"}
        Student
    .radio.radio-danger
      = f.radio_button :active_participant, "auditor", checked: current_user.has_role?(Auditor), class: "user_roles_toggle", id: "user_assigned_role_auditor"
      %label{:for => "user_assigned_role_auditor"}
        Auditor

    -#= f.hidden_field :active_participant, value: (current_user.active_participant ||current_user.default_role)
