-# Devise Errors Here!!!
-# = devise_error_messages!
.row
  .col-md-7
    %blockquote.blockquote
      %h1 Here is your chance, consectetur adipisicing elit,
    %ul
      %li Lorem ipsum dolor sit amet
      %li Consectetur adipisicing elit
      %li Sed do eiusmod tempor incididunt
    %ul
      %li Lorem ipsum dolor sit amet
      %li Consectetur adipisicing elit
      %li Sed do eiusmod tempor incididunt sed do eiusmod tempor incididunt
    .alert.alert-info
      %strong Lorem ipsum dolor
      sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  .col-md-5
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
      %h3 Register a Free Account
      .form-group
        = f.input :email
      .form-group
        = f.input :password
      .form-group
        = f.input :password_confirmation
      = button_tag :class => "btn btn-primary", :type => "submit", :data => { :disable_with => "<i class='fa fa-spinner fa-pulse'></i> Creating New Account".html_safe } do
        Register
