// Sponsors Dashboard

// ****************** //
// Wallet Form Styles
.wallet-form {
  .wallet-input-wrapper {
    padding: 0px 40px;
    .wallet-input {
      margin-top: 15px;
    }
    .wallet-blockquote {
      margin: 20px 0px;
      font-size: 25.75px;
      font-weight: bold;
    }
  }
}

.funds-blockquote {
  font-size: 30px;
  a { font-size: 15px; }
}

// Maps Styles
.google-maps {
  height: 300px;
  text-align: center;
}

.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover:active {
  background-color: $brand-success !important;
  border-color: #128f76 !important;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
  background-color: $brand-success !important;
  border-color: #128f76 !important;
}

// Dashboard
.dashboard {
  // Students
  #students, #auditors {
    h1.label-name {
      margin-bottom: -10px;
    }
    h1.user-name {
      margin: 10px 0px;
      small { font-size: 70%;}
      span { font-size: 15px;
      color: #B4BCC2; }
    }
  }

  #auditors, #sponsors {
    .stats {
      .right-section {
        span {
          font-size: 31px;
          padding-left: 10px;
          position: relative;
          top: -12px;
        }
        strong {
          font-size: 4em;
          border-right: 2px solid;
          padding-right: 20px;
        }
      }
    }
  }
  #auditors {
    .wallet_funds {
      font-size: 45px;
    }
    .stats {
      margin-top: 4em;
    }
    .audit-report-actions {
      p:first-child { margin-top: 25px; margin-bottom: 20px; }
      p:last-child { font-size: 20px; }
    }
  }
}
