/*
 * Landing Page
*/

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
  margin-top: -30px;
  height: 400px;
  background: url('/assets/landing-banner.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-shadow: 4px 2px 2px rgba(150, 150, 150, 1);

  blockquote {
    color: #fff;
  }
}

/* Customize the text color and shadow color and to optimize text legibility. */

.logo-brand img {
  width: 100px;
  display: inline;
  margin-top: -7px;
}
.tagline {
  color: #fff;
}

.img-center {
  margin: 0 auto;
}

footer {
  margin: 50px 0;
}
