.map-school-view {
  button { padding: 3px 10px; }
  p.text { font-size: 15px; }
}

.audit-requisition {
  ul.progress-time {
    margin: 30px 0px;
    text-align: center;
  }
}

.requisition-schools {
  .panel {
    min-height: 300px;
    border-color: #325b65;
    .panel-heading {
      color: #fff;
      background-color: #448ea0;
      font-size: 22px;
    }
    p {
      margin: 4px 0px !important;
    }
  }
}

// Removing map info window close button
.gm-style-iw + div {display: none;}

.applied-requisitions {
  .status-section {
    .progress-text {
      text-align: center;
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: bold;
    }

    min-height: 470px;
  }
  .requisition-section {
    span.loading {
      font-size: 35px;
    }

    .requisition-progress {
      p.description a {
        color: $brand-primary !important;
        .save-desc { margin-right: 5px;}
        .save-desc, .cancel-desc {
          margin-top: 10px;
        }
      }
      p.side-details {
        margin-top: 10px;
        label, a, span {
          font-size: 20px;
        }
      }
    }
  }
}


.requisition-details {
  ul li {
    width: 19%;
    text-align: center;
    span { font-size: 18px }
  }
}
