@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

.search-requisitions {
  .container { margin-top: 20px; }
  .mb20 { margin-bottom: 20px; }

  hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
  hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
  hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

  .search-result .thumbnail { border-radius: 0 !important; }
  .search-result:first-child { margin-top: 0 !important; }
  .search-result { margin-top: 20px; }
  .search-result {
    .section-1, .section-2 { border-right: 1px dotted #ccc; min-height: 140px; }
  }
  .search-result ul { padding-left: 0 !important; list-style: none;  }
  .search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
  .search-result ul li i { padding-right: 5px; }
  .search-result .col-md-7 { position: relative; }
  .search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
  .search-result h3 > a, .search-result i { color: $brand-success !important; }
  .search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
  .search-result span.plus { position: absolute; right: 0; top: 126px; }
  .search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
  .search-result span.plus a:hover { background-color: #414141; }
  .search-result span.plus a i { color: #fff !important; }
  .search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

  table {
    margin-bottom: 0px;
  }
  article {
    border: 1px solid $brand-primary;
    padding: 25px 15px;
    width: 90%;
    margin: 0 auto;
  }
  .search-dropdown {
    width: 600px !important;

    .field {
      margin: 15px 0px;
    }
    fieldset .field {
      margin-top: 0px;
      margin-bottom: 12px;
    }
  }
}
