- content_for :javascript do
  Landing.initializeParticipantChartGraphs();
  Landing.initializeRequisitionsChartGraphs();
  Landing.initializeRatingChartGraphs();
/ Page Content
.container
  %hr/
  .row
    .col-sm-8
      %p
        %em “Remember, if you ever need a helping hand, you’ll find one at the end of your arm.” ― Sam Levenson
      %h2 What We Do
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.
      %p
        %a.btn.btn-default.btn-lg{:href => "#"} Call to Action &#187;
    .col-sm-4
      %h2 Contact Us
      %address
        %strong Education Voucher Scheme
        = succeed "3481" do
          %br/
        = succeed "Beverly" do
          %br/
        %br/
      %address
        %abbr{:title => "Phone"}> P:
        (123) 456-7890
        %br/
        %abbr{:title => "Email"} E:
        %a{:href => "mailto:#"} name@example.com
  / /.row
  %hr/
  .row
    .col-sm-6
      #totalParticipantsChartContainer{style: "height: 350px;"}
    .col-sm-6
      #requisitionsChartContainer{style: "height: 350px;"}
  %br
  %br
  %br
  %br
  .row
    .col-sm-6.col-md-offset-3
      #ratingChartContainer{style: "height: 350px;"}
    -# .col-sm-4
      -# %img.img-circle.img-responsive.img-center{:alt => "", :src => "/assets/home-placeholder.png"}/
      -# %h2 Marketing Box #3
      -# %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  / /.row
  %hr/
