- content_for :javascript do
  Invoice.submitInvoice()

- if invoices.present?
  = form_tag pay_invoices_invoices_path, method: :put do
    %table.table.table-bordered#invoices
      %thead
        %tr
          %th.text-center
          %th.text-center
            Invoice Number
          %th.text-center
            Invoice Amount
          %th.text-center
            Status
          %th.text-center
            Month
          %th.text-center
            Year

      %tbody
        - invoices.order("year asc").each do |invoice|
          %tr
            %td.text-center
              - if invoice.open? and invoice.of_current_month? && !defined?(hide_form)
                .checkbox
                  = check_box_tag "invoice_ids[]", invoice.id, false, id: "pay_invoice_#{invoice.id}"
                  %label{:for => "pay_invoice_#{invoice.id}"}
                    -
            %td.text-center
              = invoice.invoice_number
            %td.text-center
              - if invoice.paid?
                %s= number_to_currency(invoice.invoice_amount)
              - else
                = number_to_currency(invoice.invoice_amount)
            %td.text-center
              %span.label{class: "label-#{invoice_status[invoice.status]}"}= invoice.status.humanize
            %td.text-center
              = invoice.month_humanize
            %td.text-center
              = invoice.year
        - if invoices.present?
          %tr
            %th.text-center Total
            %th
            %td.text-center
              - if defined?(paid_invoices)
                = number_to_currency(invoices.total_paid_invoices)
              - elsif defined?(current_invoices)
                = number_to_currency(invoices.total_current_invoices)
              - else
                = number_to_currency(invoices.due_amount)
            %td
            %td.text-center= pluralize(invoices.length, "month")
            %td

    - unless defined?(hide_form)
      - if invoices.present? and invoices.due_invoices.any?
        = submit_tag "Pay Now", class: "btn btn-block-container btn-success", id: "pay-invoice-submit"
      - else
        There are no current month invoice in pending
- else
  No Invoice Present
