- content_for :javascript do
  Settings.initializeDataTables("table#invoices");
%h1.text-center.page-header
  Invoices

.row
  .col-md-3
    %ul.nav.nav-pills.nav-stacked{:role => "tablist"}
      %li{class: @scope == "paid" ? "active" : ""}
        = link_to "Paid Invoices", invoices_path(scope: "paid")
      %li{class: @scope == "open" && @due_invoices.present? ? "active" : ""}
        = link_to "Current Invoices", invoices_path(scope: "open", due: true)
      %li{class: @scope == "open" && @due_invoices.blank? ? "active" : ""}
        = link_to "Future Invoices", invoices_path(scope: "open")

  .col-md-9
    .tab-content
      - if @scope == "paid"
        #paid.tab-pane.active{:role => "tabpanel"}
          .bs-callout.bs-callout-info
            %h3 All Paid Invoices
          = render partial: "invoices/invoices", locals: { invoices: @invoices, hide_form: true, paid_invoices: true }
      - if @scope == "open" and @due_invoices.present?
        #current.tab-pane.active{:role => "tabpanel"}
          .bs-callout.bs-callout-info
            %h3
              Invoices for the month of
              %strong= Date.today.strftime "%b"
          = render partial: "invoices/invoices", locals: { invoices: @invoices, current_invoices: true }
      - if @scope == "open" and @due_invoices.blank?
        #future.tab-pane.active{:role => "tabpanel"}
          .bs-callout.bs-callout-info
            %h3
              Future Invoices
          = render partial: "invoices/invoices", locals: { invoices: @invoices, hide_form: true }
