%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
%title= content_for?(:title) ? yield(:title) : 'EVS - Education Voucher Scheme'
%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Evs'}"}
= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => 'reload'
= javascript_include_tag 'dashboard', 'data-turbolinks-track' => 'reload'
= csrf_meta_tags
= include_google_map(places: true)
%script{:src => "https://js.braintreegateway.com/js/braintree-2.30.0.min.js"}
