/ Navigation
%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}
        %i.fa.fa-tachometer.fa-2x
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      - unless current_user.incomplete_profile?
        %ul.nav.navbar-nav
          - if current_user.has_role?(Auditor) || current_user.has_role?(Sponsor)
            %li
              = link_to search_requisitions_path do
                %i.fa.fa-search-plus
                Search For Applied Requisitions

          - if current_user.has_role?(Sponsor)
            %li
              = link_to invoices_path do
                %i.fa.fa-list-alt
                Invoices
      %ul.nav.navbar-nav.navbar-right
        - unless current_user.incomplete_profile?
          %li= link_to current_user.username, "#"
          %li= link_to 'Profile', profile_path(current_user.id)
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Account
            %span.caret
          %ul.dropdown-menu
            - unless current_user.incomplete_profile?
              %li
                %a{:href => edit_user_registration_path} Settings
            %li
              = link_to 'Log out', destroy_user_session_path, :method=>'delete'
