.container-fluid
  .row
    .col-md-2
      = image_tag requisition_progress_icons[sponsorship_requisition.status], class: "img-responsive"
    .col-md-10
      %h2.page-header
        = sponsorship_requisition.subject
      %p
        = sponsorship_requisition.description
      %ul.list-inline
        %li
          %label Grade Level
          %br
          %span= sponsorship_requisition.grade_level
        %li
          %label School
          %br
          %span= sponsorship_requisition.school.name
        %li
          %label Tenure
          %br
          %span
            = sponsorship_requisition.tenure
            Month(s)
        %li
          %label Status
          %br
          %span.label{class: "label-#{requisition_progress_classes[sponsorship_requisition.status]}"}
            = sponsorship_requisition.status.humanize
        - if Requisition.unapproved_statuses.include?(sponsorship_requisition.status.to_sym)
          %li
            %label Sponsor Offers
            %br
            %span
              = "(#{sponsorship_requisition.sponsorship_offers.count})"
        - if sponsorship_requisition.audit_requisition.present? and Requisition.unapproved_statuses.include? sponsorship_requisition.audit_requisition.status.to_sym
          %li
            %label Audit Offers
            %br
            %span
              = "(#{sponsorship_requisition.audit_requisition.audit_offers.count})"
        - if sponsorship_requisition.audit_requisition.present? and sponsorship_requisition.audit_requisition.completed?
          %li
            %label Result
            %br
            %span.label{class: result_label[sponsorship_requisition.audit_requisition.audit_report.result]}
              = sponsorship_requisition.audit_requisition.audit_report.result.humanize
      - if !sponsorship_requisition.rejected?
        %hr
        = link_to  progress_requisition_path(sponsorship_requisition) , class: "btn btn-info btn-block-container" do
          View Status
