.requisition-progress
  .panel.panel-default
    .panel-heading
      %strong= (humanize_requisition_status(requisition.status) + " Requisition").upcase
    .panel-body
      - if requisition.present?
        .row
          .col-md-3
            = image_tag requisition_progress_icons[requisition.status.to_s], class: "img-responsive"
            %p.side-details.text-center
              %label Grade Level:
              - if defined?(inline_editing)
                = link_to "javascript:void(0);" do
                  = best_in_place requisition, :grade_level, :as => :input, inner_class: "form-control", url: requisitions_sponsorship_path(requisition)
              - else
                %span= requisition.grade_level
              %br
              %label Tenure:
              %br
              = requisition.formatted_start_date
              &ndash;
              = requisition.formatted_end_date
          .col-md-9
            %h2.page-header
              - if defined?(inline_editing)
                = link_to "javascript:void(0);" do
                  = best_in_place requisition, :subject, :as => :input, inner_class: "form-control", url: requisitions_sponsorship_path(requisition)
              - else
                = requisition.subject
            %p.description#description-activator
              - if defined?(inline_editing)
                = link_to "javascript:void(0);", class: "thumbnail" do
                  = best_in_place requisition, :description, :as => :textarea,
                    :ok_button => 'Save', :cancel_button => 'Cancel',
                    ok_button_class: "btn btn-success btn-sm save-desc",
                    cancel_button_class: "btn btn-danger btn-sm cancel-desc",
                    inner_class: "form-control",
                    display_as: "description_format", :activator => "#description-activator", url: requisitions_sponsorship_path(requisition)
              - else
                = simple_format requisition.description

            -# When the user is auditor then capturing extra content here
            - if defined? auditor_content
              = capture(&auditor_content)

        - if !defined?(school_view)
          %hr
          .row
            .col-md-6
              .google-maps
            .col-md-6
              .panel.panel-primary
                .panel-heading
                  - if current_user.has_role?(Student)
                    My
                  - else
                    Student's
                  School
                .panel-body
                  .row
                    .col-md-3
                      = image_tag "school-signal-and-children.jpg", class: "img-responsive"
                    .col-md-9
                      %h4= requisition.school.name
                      %p
                        %label Fees (Monthly):
                        = requisition.school.fees
                      %p
                        %label Location:
                        = requisition.school.address.try(:locationlocation)
                      %p
                        %label Staffs:
                        = requisition.school.staffs

                      %p
                        %label Students:
                        = requisition.school.students
                      - if requisition.school.foundation_date
                        %p
                          %label Foundation Year:
                          = requisition.school.foundation_date.strftime("%Y")
          %hr
        -# @audit_requisition will only be available when status is > "open"
        - if defined? student_content
          - if defined?(audit_requisition)
            = capture(requisition, audit_requisition, &student_content)
          - else
            = capture(requisition, &student_content)
