= render :layout => "requisitions/shared/requisition_details" do
  - if @audit_requisition
    %blockquote.blockquote
      %h2
        Audit Requisition
        - if @audit_requisition.open?
          %small= link_to "Edit/View Audit Requisition", "#", data: { toggle: "modal", target: "#auditRequisitionModal" }

      -# Audit Offers
      - if @audit_requisition.open?
        = render partial: "requisitions/progress/sponsors/form"

        - if @audit_offers.present?
          %h4 Audit Offers
          = form_for @audit_requisition, url: requisitions_audit_path(@sponsorship_requisition), method: :put do |f|
            = hidden_field_tag :sponsor_funds, current_sponsor.funds
            %table.table.table-bordered
              %thead
                %tr
                  %th Full Name
                  %th Gender
                  %th Experience
                  %th
                  %th
              %tbody
                - @audit_offers.each do |audit_offer|
                  %tr
                    %td= audit_offer.creator.user.full_name
                    %td= audit_offer.creator.gender == 0 ? "Male" : "Female"
                    %td= audit_offer.creator.past_experience
                    %td
                      = link_to "View Profile", profile_path(audit_offer.creator.user_id)
                    %td
                      - if audit_offer.creator.has_on_going_case?
                        %span{style: "font-size: 13px;padding-top: 13px;"} This Auditor is Unavailable Right Now
                      - else
                        .radio.radio-success{style: "margin: 0;"}
                          = f.radio_button :provider_id, audit_offer.creator_id, checked: false, id: "approve_offer_#{audit_offer.id}"
                          %label{:for => "approve_offer_#{audit_offer.id}"}
                            Select This Offer
                        = f.hidden_field :provider_type, value: audit_offer.creator_type
            = hidden_field_tag :status, Requisition::AUDIT_STATUS[:approved]
            .form-actions.text-right
              = submit_tag Requisitions::AuditsController::APPROVE, class: "btn btn-success btn-block-container proceed-submission", data: { confirm_title: "Proceed Case", confirm_message: "Are you sure you want to Approve this Offer?" }
        - else
          .container-fluid
            .bs-callout.bs-callout-primary
              No Audit Offers for your requisition

      -# Approved Auditor Details
      - if !@audit_requisition.open?
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "auditor", "data-toggle" => "tab", :href => "#auditor", :role => "tab"} Auditor
          %li{:role => "presentation"}
            %a{"aria-controls" => "report", "data-toggle" => "tab", :href => "#report", :role => "tab"} Requisition Report
          %li{:role => "presentation"}
            %a{"aria-controls" => "review", "data-toggle" => "tab", :href => "#review", :role => "tab"} Auditor Review
          %li{:role => "presentation"}
            %a{"aria-controls" => "invoices", "data-toggle" => "tab", :href => "#invoices", :role => "tab"} Invoices

        .tab-content
          #auditor.tab-pane.fade.in.active{:role => "tabpanel"}
            .bs-callout.bs-callout-info
              %h3
                Auditor Details
            = render partial: "requisitions/shared/approved_provider_details", locals: { provider: @audit_requisition.provider }
          #report.tab-pane{:role => "tabpanel"}
            .bs-callout.bs-callout-info
              %h3
                Report Summary
            .audit-requisition
              %ul.list-inline.progress-time
                %li
                  %label Progress Started On
                  %br
                  %small= published_format @audit_requisition.approved_at
                %li
                  %label Progress Ended On
                  %br
                  - if @audit_requisition.audit_report.present?
                    %small= published_format @sponsorship_requisition.report_uploaded_at
                  - else
                    %small Requisition on going
                - if @audit_requisition.audit_report.present?
                  %li
                    %label Total Time
                    %br
                    %small= @sponsorship_requisition.audit_completed_in
            - if @audit_requisition.audit_report.present?
              %table.table.table-bordered#overall_summary
                %tbody
                  %tr
                    %th.text-center.col-md-2
                      Total Marks
                    %th.text-center
                      Out Of
                    %th.text-center.col-md-2
                      Percentage (%)
                    %th.text-center
                      Results
                    %th.col-md-1
                      Download PDF
                  %tr
                    %td.condensed_cells
                      = number_with_decimal @audit_requisition.audit_report.total_marks
                    %td.condensed_cells
                      = @audit_requisition.audit_report.total_report_marks
                    %td.condensed_cells
                      = number_to_percentage @audit_requisition.audit_report.percentage
                    %td.condensed_cells
                      %span.label{class: result_label[@audit_requisition.audit_report.result]}= @audit_requisition.audit_report.result.humanize
                    %td
                      = link_to requisitions_audit_report_path(@audit_requisition, @audit_requisition.audit_report, deposition: "attachment", format: :pdf) do
                        = image_tag "pdf.png", class: "img-responsive", width: "50px"
            - else
              .container-fluid
                .bs-callout.bs-callout-primary
                  Requisition In Progress
          #review.tab-pane{:role => "tabpanel"}
            - if @audit_requisition.completed?
              -# Auditor review
              .bs-callout.bs-callout-info
                %h3 Reviews
              = render partial: "reviews/review_details", locals: { requisition: @audit_requisition,review: @audit_requisition.review }
            - else
              .container-fluid
                .bs-callout.bs-callout-primary
                  Requisition In Progress
          #invoices.tab-pane{:role => "tabpanel"}
            - if @audit_requisition.completed?
              .bs-callout.bs-callout-info
                %h3 Invoices
              = render partial: "invoices/invoices", locals: { invoices: @sponsorship_requisition.invoices }
            - else
              .container-fluid
                .bs-callout.bs-callout-primary
                  Requisition In Progress
