- content_for :javascript do
  StudentsRequisitions.initializeRequisitions();

.container
  %h1.page-header.text-center{style: "margin-bottom: 40px;"}
    Applied Requisitions

- if @requisition.present?
  .applied-requisitions
    .row
      .col-md-9.requisition-section
        .tab-content
          #draft_requisitions.tab-pane.active{:role => "tabpanel"}
            .text-center
              %i.fa.fa-spinner.fa-pulse.fa-2x.fa-fw
              %span.loading
                Loading Form ...
          #open_requisitions.tab-pane{:role => "tabpanel"} ...
          #approved_requisitions.tab-pane{:role => "tabpanel"} ...
          #validated_requisitions.tab-pane{:role => "tabpanel"} ...
          #rejected_requisitions.tab-pane{:role => "tabpanel"} ...
      .col-md-3.status-section
        .progress-text= "Requisition Progress"
        %ul.nav.nav-pills.nav-stacked{:role => "tablist"}
          - Requisition::SPONSORSHIP_STATUS.keys.each do |status|
            %li{:role => "presentation", class: @requisition.send("#{status}?") ? "active" : "text-right disabled"}
              = link_to  @requisition.send("#{status}?") ? progress_requisition_path(@requisition, format: :js) : "javascript:void(0);",
                  remote: true, class: !@requisition.send("#{status}?") ? "disabled" : "",
                  data: { toggle_tab: "#{status}_requisitions" } do

                - requisition_progress_status(status, @requisition.status, current_participant)
- else
  .bs-callout.bs-callout-info
    %h3
      %strong There is no Requisition Progress
    Create your
    = link_to "New Requisition", new_requisitions_sponsorship_path
    to get amazing Sponsorship Programs.
