- content_for :javascript do
  $location = new Location();
  $location.initializeLocation();
  $location.setMap();
  -# AuditReport.browseReport();
  -# AuditReport.uploadReport();
  -# AuditReport.progressReportUpload();
  
.upload-report-form
  - if @audit_report.blank?
    = link_to new_requisitions_audit_report_path(@audit_requisition), class: "btn btn-primary btn-block-container" do
      %i.fa.fa-file-text
      Create Audit Report
  - else
    = link_to edit_requisitions_audit_report_path(@audit_requisition, @audit_report), class: "btn btn-primary btn-block-container" do
      %i.fa.fa-file-text
      Edit Audit Report
  -# = form_tag upload_pdf_report_dashboard_index_path(format: :json), method: :put do
    %p
      = file_field_tag "requisitions[report]", accept: "application/pdf", id: "upload-report-file-field", multipart: true
      = link_to "#", class: "btn btn-success btn-block-container upload-report-link" do
        %i.fa.fa-file-pdf-o
        Upload Report
      - if @audit_report.blank?
        = link_to new_requisitions_audit_report_path(@audit_requisition), class: "btn btn-primary btn-block-container" do
          %i.fa.fa-file-text
          Create Audit Report
      - else
        = link_to edit_requisitions_audit_report_path(@audit_requisition, @audit_report), class: "btn btn-primary btn-block-container" do
          %i.fa.fa-file-text
          Edit Audit Report
    %p.file-name.hide-content
    %p#reportUploadError.text-danger.hide-content
    .list-group#report-files
    %script#reportUploadProgressTemplate{:type => "text/x-jquery-tmpl"}
      <div class="list-group-item">
      <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
      </div>
      </div>
    %script#reportUploadItemTemplate{:type => "text/x-jquery-tmpl"}
      <div class="list-group-item">
      <button type="button" class="close dismissable-parent">×</button>
      <span class="glyphicon glyphicon-file"></span> Report has successfully uploaded.
      </div>
