$wizard-bar-border: 2px;
$wizard-bar-active-color: #5bc0de;

.wizard-tabs {
  border-bottom: none;
  li.active {
    border-bottom: $wizard-bar-border solid $wizard-bar-active-color;
  }
}

.wizard_form {
  .actions {
    margin-top: 5em;
    ul li {
      float: right;
    }
  }
}

.wizard-inner {
  ul.auditor-steps {
    li { width: 20% !important; }
  }
}
#who_are_you {
  font-size: 2em;
  text-align: center;

  .checkbox label, .radio label {
    &::before {
      width: 30px !important;
      height: 30px !important;
      top: 8px !important;
      margin-left: -35px !important;
    }
  }
  .checkbox label::after {
    width: 25px !important;
    top: 8px !important;
    margin-left: -33px !important;
    font-size: 19px !important;
  }
  .radio label::after {
    width: 24px !important;
    top: 11px !important;
    height: 24px;
    left: -12px;
  }
}

#finished_step {
  text-align: center;
  width: 35%;
  margin: 0 auto;
  .panel {
    border-width: 2px;
    p { font-size: 18px; }
    a.finish {
      //width: 55%;
      //margin: 0 auto;
      font-weight: bold;
    }
  }
}
