/ Image Background Page Header
- if @banner
  %header.business-header
    .container
      .row
        .col-lg-12
          %h1.tagline Make a Difference Now By Donating
          %blockquote
            %p “No one has ever become poor by giving.”
            %p “It's not how much we give but how much love we put into giving.”
            %p “There is no exercise better for the heart than reaching down and lifting people up.”
