var status = "", tab;

status = "<%= @status %>_requisitions";

$(".requisition-section").find("div.active").removeClass("active fade in");

$.each($(".requisition-section").find(".tab-pane"), function() {
  $(this).html('<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><span class="loading">Loading ...</span>');
});
$(".status-section").find("ul li.active").removeClass("active");

tab = $(".requisition-section").find("#" + status)
tab.html('<%= escape_javascript(render partial: "requisitions/progress/students/#{@status}").html_safe %>');
tab.addClass("active fade");
setTimeout(function(){
  tab.addClass("in");
}, 100)


$(".status-section").find("a[data-toggle-tab='"+ status +"']").closest("li").addClass("active");


$location = new Location();
$location.initializeLocation();
$location.setMap();

SponsorshipRequisitions.initializeAutoComplete();
SponsorshipRequisitions.initializeRequisitions();

CommonRequisition.initializeRequisitions();

$('[data-toggle="popover"]').popover();

$('.rating').rating({displayOnly: true, step: 0.5});
