.search-requisitions
  .container
    %h1.page-header.text-center{style: "margin-bottom: 40px;"}
      Search For Applied Requisitions
    / Split button
  = render partial: "requisitions/shared/search/filters"

  .applied_requisitions
    = render partial: "requisitions/shared/search/results"

.modal-popup{data: { valid: popup_is_set?.to_s, keyboard: "false" }}
  = allow_popup(false)
  = render partial: "requisitions/shared/auditor_in_progress_modal.html"
