#sponsorWalletModal.modal.fade{"aria-labelledby" => "sponsorWalletModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = form_tag wallets_path, method: :post, class: "wallet-form" do
        .modal-header
          %button.close.cancel{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title.text-center Save Some Funds Into Your Wallet
        .modal-body
          .wallet-input-wrapper
            .row
              .col-md-9
                %blockquote.blockquote.wallet-blockquote{data: {funds: current_sponsor.funds.to_i}}
                  = number_to_currency(current_sponsor.funds)
              .col-md-3
                = image_tag "wallet.png", class: "img-responsive"
            .row
              .col-md-9
                .wallet-input
                  = number_field_tag :wallet_cost, nil, class: "form-control", placeholder: "Enter Amount", required: true
            %hr

            -# Payment Drop UI

            #braintreeDropin

            -# End
            = hidden_field_tag :payment_method_nonce
            .modal-footer
              %button.btn.btn-default.cancel{"data-dismiss" => "modal", :type => "button"} Not right now!
              = button_tag :class => "btn btn-success btn-payment", :type => "submit", :data => { :disable_with => "<i class='fa fa-spinner fa-pulse'></i> Verifying Card".html_safe } do
                Save Now
