form fieldset.inputs.has_many_fields
  padding-top: 0px

// Schools Coffee

form fieldset#location
  li.school-map
    margin-bottom: 15px
.google-maps
  height: 450px
  .fa
    font-size: 1em
  .loading-map
    text-align: center
    vertical-align: middle
    line-height: 7em
    font-size: 5em
