- if user_signed_in?
  - unless current_user.incomplete_profile?
    %li= link_to 'My Dashboard', user_authenticated_root_url(subdomain: APP_SUBDOMAIN[:dashboard])
- else
  %li= link_to 'Login', new_user_session_path
  %li= link_to 'Register Here', new_user_registration_path
