/ Navigation
%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.logo-brand{:href => root_path}
        = image_tag "evs_logo_white.png", class: "img-responsive"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      - unless user_signed_in?
        %ul.nav.navbar-nav
          %li
            %a{:href => page_path("about")} About
          %li
            %a{:href => "#"} Services
          %li
            %a{:href => "#"} Contact
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/application/navigation_links'
    / /.navbar-collapse
  / /.container
