- content_for :javascript do
  AuditReport.initialize()
  AuditReport.progressReportSubmit();
.authform-container-fluid
  = validation_errors_notifications(@report)
.audit-form
  = simple_form_for @report, url: action, method: method do |f|
    = f.input :auditor_id, as: :hidden, input_html: { value: current_auditor.id }
    %blockquote.blockquote
      %h2 Select Audit Type
    %ul.list-inline.text-center#audit-items-list
      - @audit_items.each_with_index do |item, i|
        %li{data: { toggle: "tooltip", title: item.name }, class: @audit_findings[i].present? && @audit_findings[i].selected? ? "audit-item-selected" : ""}
          = link_to "#", data: { target: item.try(:name).parameterize.underscore + "_container" } do
            %i.fa.fa-3x{class: audit_items_icon[i]}
    #audit-items-fields
      = f.simple_fields_for :audit_findings, @audit_findings do |o|
        %div{ id: o.object.audit_item.try(:name).parameterize.underscore + "_container", class: o.object.not_selected? ? "hide-content" : "" }
          %blockquote.blockquote
            %i.fa{class: audit_items_icon[o.index]}
            = o.object.audit_item.try(:name)
          .authform-container-fluid
            = o.input :observation
            = o.input :recommendation, input_html: { rows: 6 }
            = o.input :marks, input_html: { maxlength: '2', size: '10', class: "report-marks-#{o.object.audit_item.try(:name).parameterize.underscore}" }, hint: 'Mention Marks out of 10'
            = o.input :audit_item_id, as: :hidden
            = o.input :selected_container, as: :hidden, input_html: { class: "selected-audit-item" }
            = o.input :_destroy, as: :hidden, input_html: { value: false, class: "destroy-audit-item" } if !o.object.new_record?
    %hr
    %blockquote.blockquote
      %h2 Any Further Suggestions
    .authform-container-fluid
      .row
        .col-md-6
          = f.input :good_controls
        .col-md-6
          = f.input :weak_controls


    .form-actions.text-right
      - if @report.new_record?
        = f.submit "Generate", class: "btn btn-primary btn-block-container"
      - else
        = f.submit "Save Report", class: "btn btn-primary btn-block-container"
        = link_to upload_pdf_report_dashboard_index_path(audit_report_id: @report, format: :json), id: "submitReport", class: "btn btn-warning btn-block-container" do
          %i.fa.fa-file-text
          Submit Report
