%h1.text-center.page-header
  Edit Audit Report For Requisition
  %br
  = @requisition.subject
.audit-report
  .report-criteria
    .alert.alert-info
      %button.close.cancel{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4 Requisition Result Criteria
      %ul
        %li Every Audit Item will have Observation, Recommendation, Marks Distribution, e.g. Physical Interview is an audit item for which auditor has to fill all three fields and based on marks audit results will be calculated.
        %li Auditor can also provide Good and Weak Controls if there is any for the student.
        %li The marks of audit item which would sum up the report and results the Success or Failure of the requisition. In our system each marks per item will be out of 10.
        %li
          Following are the Audit Items which should be mainly considered
          %ol
            - @audit_items.each do |item|
              %li= item.name
  .report-status-label
    %table.table
      %tbody
        %tr
          %th.col-md-3
            Report Generated On
          %td
            %span.label.label-warning= generated_report_format(@report.created_at)
        %tr
          %th.col-md-2
            Total Marks
          %td
            %span.label.label-warning= number_with_decimal @report.total_marks
        %tr
          %th.col-md-2
            Result
          %td
            %span.label{class: result_label[@report.result]}= @report.result.humanize
    = link_to requisitions_audit_report_path(@requisition, @report, deposition: "inline", format: :pdf), class: "btn btn-info btn-block-container preview-report", target: "_blank" do
      %i.fa.fa-file-text
      Preview Report

  = render "form", action: requisitions_audit_report_path(@requisition, @report), method: :put

  .upload-report-form
    %p.file-name.hide-content
    %p#reportUploadError.text-danger.hide-content
    .list-group#report-files
    %script#reportUploadProgressTemplate{:type => "text/x-jquery-tmpl"}
      <div class="list-group-item">
      <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
      </div>
      </div>
    %script#reportUploadItemTemplate{:type => "text/x-jquery-tmpl"}
      <div class="list-group-item">
      <button type="button" class="close dismissable-parent">×</button>
      <span class="glyphicon glyphicon-file"></span> Report has successfully submitted.
      </div>
