%h1.text-center.page-header
  Generate Audit Report
.audit-report
  .authform-container-fluid.report-criteria
    .alert.alert-info
      %button.close.cancel{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4 Requisition Result Criteria
      %ul
        %li Every Audit Item will have Observation, Recommendation, Marks Distribution, e.g. Physical Interview is an audit item for which auditor has to fill all three fields and based on marks audit results will be calculated.
        %li Auditor can also provide Good and Weak Controls if there is any for the student.
        %li The marks of audit item which would sum up the report and results the Success or Failure of the requisition. In our system each marks per item will be out of 10.
        %li
          Following are the Audit Items which should be mainly considered
          %ol
            - @audit_items.each do |item|
              %li= item.name
  = render "form", action: requisitions_audit_reports_path(@requisition), method: :post
