.header
  = image_tag "evs_logo.png", class: "img-responsive"
  .pull-right
    %label Date
    = Date.today
.main
  %blockquote.blockquote
    %h3
      Audit Report For Requisition
      %small= @requisition.subject

  %h3.text-center
    Overall Summary

  %table.table.table-bordered#overall_summary
    %tbody
      %tr
        %th.text-center
          Total Marks
        %th.text-center
          Out Of
        %th.text-center
          Percentage (%)
        %th.text-center
          Result
      %tr
        %td
          = number_with_decimal @report.total_marks
        %td
          = @report.total_report_marks
        %td
          = number_to_percentage @report.percentage
        %td
          = @report.result.humanize

  %h3.text-center
    Control Summary

  %table.table.table-bordered#control_summary
    %thead
      %tr
        %th.text-center.good_controls
          Good Controls
        %th.text-center.weak_controls
          Weak Controls
    %tbody
      %tr
        %td
          = simple_format(@report.good_controls)
        %td
          = simple_format(@report.weak_controls)

  %h3.text-center
    Detailed Observation And Recommendation
  .observation_summary
    - @report.audit_findings.each_with_index do |finding, i|
      %table.table.table-bordered
        %tbody
          %tr
            %th.heading{colspan: 2}
              Observation #
              = i += 1
          %tr
            %td{colspan: 2}
              = finding.observation
          %tr
            %th.heading{colspan: 2}
              Recommendation
          %tr
            %td{colspan: 2}
              = finding.recommendation
          %tr
            %th.heading{colspan: 2}
              Marks
          %tr
            %td.text-center
              %label Obtained:
              = number_with_decimal finding.marks
            %td.text-center
              %label Out Of:
              = AuditReport::TOTAL_REPORT_MARKS


.footer
  Education Voucher Scheme
