- content_for :javascript do
  $location = new Location();
  $location.initializeLocation();
  $location.setMap();
  SponsorshipRequisitions.initializeAutoComplete();
  SponsorshipRequisitions.initializeRequisitions();
  SponsorshipRequisitions.initializeDatePickers();

.authform-container-fluid
  = validation_errors_notifications(@requisition)
  = simple_form_for @requisition, url: requisitions_sponsorships_path, method: :post do |f|
    = f.input :subject
    = f.input :description, input_html: { rows: 6 }
    = f.input :search_school, as: :fake, input_html: { data: { provide: :typeahead, toggle: "tooltip", title: "Click on the marker to select school", placement: "top" }, autocomplete: :off }, placeholder: "School Name"
    .form-group
      .google-maps
    .form-group
      .requisition-schools
    = f.input :grade_level
    .row
      .col-md-6
        = f.label :start_date
        = f.input_field :start_date, as: :string, class: "form-control", readonly: true
      .col-md-6
        = f.label :end_date
        = f.input_field :end_date, as: :string, class: "form-control", readonly: true

    %br
    .form-actions.text-right
      = f.submit "Create", class: "btn btn-primary btn-block-container"
