.panel.panel-default
  = hidden_field "requisition", "school_id", value: school.id
  .panel-heading
    My School
  .panel-body
    .row
      .col-md-3
        = image_tag "school-signal-and-children.jpg", class: "img-responsive"
      .col-md-9
        %h4= school.name
        %p
          %label Fees (Monthly):
          = number_to_currency school.fees
        %p
          %label Location:
          = school.address.location
        %p
          %label Staffs:
          = school.staffs

        %p
          %label Students:
          = school.students
        - if school.foundation_date
          %p
            %label Foundation Year:
            = school.foundation_date.strftime("%Y")
        %p
          %button.pull-right.remove-requisition-school.btn.btn-danger.btn-sm{type: "button", data: { school_id: school.id }}
            Remove
