table#overall_summary
  th
    background-color: $brand-primary !important
    color: #fff !important
  th, td
    text-align: center
  td.condensed_cells
    padding-top: 18px

.upload-report-form
  margin: 20px 0px
  p.file-name
    font-weight: bold
  // input[type='file']
  //   display: none !important
.audit-report
  .report-criteria
    h3, h4
      margin: 0
      margin-bottom: 15px
      color: $brand-primary
      font-weight: bold
  .report-status-label
    padding: 20px 0px 35px 0px
    th
      font-size: 18px
      margin: 0
    a.preview-report
      margin-top: 15px
  .audit-form
    #audit_report_good_controls
      overflow: scroll
      overflow-x: hidden
      max-height: 250px
    .authform-container-fluid
      max-width: 800px
    ul#audit-items-list
      li
        padding: 14px 0
        width: 9%
        border-radius: 4px
        margin: 0px 7px
        background-color: $brand-primary
        a:hover, a:focus
          color: $brand-success
        a
          font-size: 18px
      li.audit-item-selected
        background-color: $brand-success !important
        a, a:hover, a:focus
          color: $brand-primary !important
