//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Using Bootswatch Customized Theme - Flatly
// ref -> https://bootswatch.com/flatly/

// import original bootstrap
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";

$brand-success: #18BC9C;
$brand-danger: #E74C3C;
$brand-primary: #2C3E50;
.header {
  border-bottom: 2px solid $brand-success;
  padding-bottom: 10px;
  margin-bottom: 30px;
  img {
    display: inline;
    width: 100px;
  }
}

.main {
  .blockquote {
    border: none;
  }
  // Page Break
  table {
		page-break-inside: avoid !important;
  }
  table#control_summary {
    th.good_controls {
      width: 50% !important;
      color: #fff !important;
      background-color: $brand-success !important;
    }
    th.weak_controls {
      width: 50% !important;
      background-color: $brand-danger !important;
      color: #fff !important;
    }
  }
  .detailed_observation_section {
    page-break-before: always !important;
  }
  .observation_summary {
    table th.heading {
      background-color: $brand-primary !important;
      color: #fff !important;
    }
  }
  table#overall_summary {
    th {
      background-color: $brand-primary !important;
      color: #fff !important;
    }
    th, td { text-align: center;}
  }
}

.footer {
  border-top: 2px solid #18BC9C;
  padding-top: 10px;
  margin-top: 30px;
  text-align: center;
  color: $brand-primary;
  font-weight: bold;
  page-break-inside: avoid;
}
