-# - content_for :javascript do
  Offers.placeOffer("#{requisition.id}");

%article.search-result
  .row
    .col-xs-12.col-sm-12.col-md-2.section-1
      %a.thumbnail{:href => "#", :title => "Lorem ipsum"}
        = image_tag "open-requisitions.png", class: "img-responsive"
    .col-xs-12.col-sm-12.col-md-10
      %h3
        %a{:href => "#", :title => ""}= requisition.subject
      %p
        = simple_format requisition.description.truncate(300)
        = link_to "Continue Reading", "#"
  .row
    .col-xs-12.col-sm-12.col-md-5
      %table.table
        %tr
          %td
            %strong Created On
            %ul.meta-search
              %li
                %i.glyphicon.glyphicon-calendar
                %span= requisition.created_at.strftime("%d/%m/%Y")
              %li
                %i.glyphicon.glyphicon-time
                %span= requisition.created_at.strftime("%I:%M %P")
          %td
            %strong Grade Level
            %ul.meta-search
              %li
                %i.fa.fa-book
                %span= requisition.grade_level
        %tr
          %td
            %strong Time Period
            %ul.meta-search
              %li
                %i.fa.fa-hourglass-end
                %span= pluralize requisition.tenure, "month"
              %li
                %i.fa.fa-money{data: { toggle: "tooltip", placement: "top", title: "Total School Fees For #{requisition.tenure} Month(s) Period" }}
                %span= number_to_currency requisition.total_school_fees, strip_insignificant_zeros: true
          %td
            %strong School
            %ul.meta-search
              %li
                %i.fa.fa-graduation-cap
                %span= requisition.school.name
              %li
                %i.fa.fa-money{data: { toggle: "tooltip", placement: "top", title: "School Monthly Fees" }}
                %span= number_to_currency requisition.school.fees, strip_insignificant_zeros: true

    .col-xs-12.col-sm-12.col-md-7.excerpet
      %blockquote.blockquote
        %small
          = requisition.owner_type
          Details
        %br
        .row
          .col-md-2
            = image_tag requisition.owner.user.avatar.url(:medium), class: "img-responsive img-circle"
          .col-md-10
            %h3= requisition.owner.user.full_name
            %label
              %i.fa.fa-map-marker
              =requisition.owner.address.location
            %br
            = link_to "View Details", requisition_path(requisition.id), class: "btn btn-primary btn-sm btn-block-container"
            - if requisition.has_offer?(current_participant)
              = link_to "Remove Your Offer", requisitions_offer_path(requisition.fetch_offer(current_participant).id), onclick: "Offers.placeOffer(this, #{requisition.id}, event)", class: "btn btn-danger btn-sm place-offer-#{requisition.id} btn-block-container", data: { method_type: :delete, offered: true }
            - else
              = link_to "Place Your Offer", requisitions_offers_path(requisition_id: requisition.id), onclick: "Offers.placeOffer(this, #{requisition.id}, event)", class: "btn btn-info btn-sm place-offer-#{requisition.id} btn-block-container", data: { method_type: :post, offered: false }
      %blockquote.blockquote
        %small{class: "total_offers_search_#{requisition.id}"}
          Total Placed Offers (
          %span= requisition.send("#{current_user.requisition_type}_offers").length
          )
        %ul.list-inline{class: "sponsors_offers_list_icon_search_#{requisition.id}"}
          - if requisition.send("#{current_user.requisition_type}_offers").present?
            - requisition.send("#{current_user.requisition_type}_offers").each do |offer|
              = sponsors_offers_list_icon_search(offer).html_safe
