- content_for :javascript do
  Search.initializeSearchBar();
  Search.initializeSearch();

.btn-group.pull-right
  %button.btn.btn-success.btn-block-container{:type => "button"}
    %i.fa.fa-search-plus
    Search
  %button.btn.btn-success.dropdown-toggle.search-dropdown-btn{"aria-expanded" => "false", "aria-haspopup" => "true", :type => "button"}
    %span.caret
    %span.sr-only Toggle Dropdown
  .dropdown-menu.search-dropdown
    = form_tag search_requisitions_path, method: :get, id: "search_requisitions_form" do
      .col-md-9
        .field
          %label Publish Duration
          .row
            .col-md-6
              = text_field_tag :start_date, nil, class: "form-control input-sm", placeholder: "Start Date", id: "start_date", readonly: true
            .col-md-6
              = text_field_tag :end_date, nil, class: "form-control input-sm", placeholder: "End Date", id: "end_date", readonly: true
        .field
          %label Tenure
          %br
          = select_tag :tenure, options_for_select([3, 6, 9, 12].map{|v| ["#{v} Months", v]}), class: "form-control input-sm", prompt: "Tenure"
        .field
          .row
            .col-md-6
              %label Student Gender
              %br
              %ul.list-inline
                %li
                  .radio
                    = radio_button_tag :gender, "2", checked: true
                    %label{:for => "gender_2"}
                      Any
                %li
                  .radio
                    = radio_button_tag :gender, "0"
                    %label{:for => "gender_0"}
                      Male
                %li
                  .radio
                    = radio_button_tag :gender, "1"
                    %label{:for => "gender_1"}
                      Female
            .col-md-6
              %label Student Age
              %br
              = select_tag :age, options_for_select((3..18).map{|v| v}), class: "form-control input-sm", prompt: "Student Age"
        .field
          .row
            .col-md-6
              %label Grade Level
              %br
              = text_field_tag :grade_level, nil, class: "form-control input-sm", placeholder: "Grade Level"
        .field
          %fieldset
            %legend Student Address
            .field
              .row
                .col-md-6
                  %label City
                  %br
                  = text_field_tag :city, nil, class: "form-control input-sm", placeholder: "City"
                .col-md-6
                  %label State
                  %br
                  = text_field_tag :state, nil, class: "form-control input-sm", placeholder: "State"
            .field
              %label Location
              %br
              = text_field_tag :location, nil, class: "form-control input-sm", id: "location_input", placeholder: "Search Location By Google"
              = hidden_field_tag :latitude, nil, id: "latitude_input"
              = hidden_field_tag :longitude, nil, id: "longitude_input"
              = hidden_field_tag :place_id, nil, id: "place_id_input"
              .google-maps.hide-content

      .col-md-3
        .field
          %br
          = submit_tag "Submit", class: "btn btn-primary btn-block"
