.container
  %hgroup.mb20
    %h1 Search Results
    %h2.lead
      %strong.text-danger= pluralize(@requisitions.length, "Result")
      found
.container
  - if @requisitions.present?
    = render partial: "requisitions/shared/search/applied_requisitions", collection: @requisitions, as: :requisition

  - else
    .bs-callout.bs-callout-info
      %h3
        %strong Currently No Requisition
