@mixin font-awesome($content, $font-size: 14px/1) {
  content: $content;
  font: normal normal normal $font-size FontAwesome;
  display: inline-block;
}

@import url('https://fonts.googleapis.com/css?family=Sintony:400,700');

// Loading Font Awesome Sass
@import "font-awesome";

// Importing flatly variables
@import "bootswatch/flatly/variables";
@import "base";

// Bootstrap Theme Imported
@import "customized_bootstrap_theme";

// Pages
@import "pages/profiles/build";
@import "pages/dashboard";
@import "pages/requisitions";
@import "pages/search";
@import "pages/profile";

// Components
@import "components/pages";
@import "components/audit_report";
// @import "components/evs_audited_report_pdf";

body {
  background-color: #fff !important;
  font-family: 'Sintony', sans-serif;
}

a:hover, a:focus {
  text-decoration: none;
  color: $brand-primary;
}

// jQuery Validation Error Label
label.error {
  position: relative;
  background: #e04343;
  border: 2px solid #ad6873;
  color: white;
  padding: 3px 10px;
  font-size: 17px;
  top: 5px;
  border-radius: 4px;
}
label.error:after, label.error:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

label.error:after {
	border-color: rgba(224, 67, 67, 0);
	border-bottom-color: #e04343;
	border-width: 4px;
	margin-left: -4px;
}
label.error:before {
	border-color: rgba(173, 104, 115, 0);
	border-bottom-color: #ad6873;
	border-width: 7px;
	margin-left: -7px;
}

.hide-content {
  display: none;
}

// Awesome Checkboxes/Radio Btns
.radio label::after {
  width: 13px;
  height: 13px;
  left: 2px;
  top: 2.5px;
}

// General
main {
  min-height: 800px;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}
