= render_progress "Student", requisition: @requisition, audit_requisition: @audit_requisition do |sponsorship_requisition, audit_requisition|
  %blockquote.blockquote
    .audit-requisition
      %ul.list-inline.progress-time
        %li
          %label Progress Started On
          %br
          %small= published_format audit_requisition.approved_at
        %li
          %label Progress Ended On
          %br
          - if audit_requisition.audit_report.present?
            %small= published_format sponsorship_requisition.report_uploaded_at
          - else
            %small Requisition on going
        - if audit_requisition.audit_report.present?
          %li
            %label Total Time
            %br
            %small= sponsorship_requisition.audit_completed_in
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "sponsor", "data-toggle" => "tab", :href => "#sponsor", :role => "tab"} My Sponsor
    %li{:role => "presentation"}
      %a{"aria-controls" => "auditor", "data-toggle" => "tab", :href => "#auditor", :role => "tab"} My Auditor

  .tab-content
    #sponsor.tab-pane.fade.in.active{:role => "tabpanel"}
      .bs-callout.bs-callout-warning
        %h4
          %strong My Sponsor
      .container-fluid
        = render partial: "requisitions/shared/approved_provider_details", locals: { provider: sponsorship_requisition.provider }
    #auditor.tab-pane{:role => "tabpanel"}
      .bs-callout.bs-callout-warning
        %h4
          %strong My Auditor
      .container-fluid
        - if audit_requisition.provider.present?
          = render partial: "requisitions/shared/approved_provider_details", locals: { provider: audit_requisition.provider }
