= render_progress "Student", requisition: @requisition, inline_editing: true, school_view: false do |requisition|
  = form_for requisition, url: requisitions_sponsorship_path(requisition), method: :put, html: { id: "sponsorshipRequisitionUpdateForm" } do |f|
    .row
      .col-md-9.col-md-offset-3
        %label School
        = text_field_tag :search_school, requisition.school.name, class: "form-control", data: { provide: :typeahead, toggle: "tooltip", title: "Click on the marker to select school", placement: "top" }, autocomplete: :off, placeholder: "School Name"

    %br
    .row
      .col-md-6
        .google-maps
      .col-md-6
        .requisition-schools
          = render partial: 'requisitions/sponsorships/school', locals: { school: requisition.school }

    .form-actions.text-right
      = link_to "Cancel Requisition", requisitions_sponsorship_path(requisition), class: "btn btn-danger btn-block-container", method: :delete, data: { confirm: "Are you sure you want to remove your requisition?", confirm_title: "Remove/Cancels Requisition" }
      = f.submit Requisitions::SponsorshipsController::SAVE, class: "btn btn-primary btn-block-container"
      = submit_tag Requisitions::SponsorshipsController::OPEN, class: "btn btn-success btn-block-container proceed-submission", data: { confirm_title: "Submit Requisition", confirm_message: "Are you sure you want to submit your requisition? You will not be able to edit once submit." }
