= render_progress "Student", requisition: @requisition do |requisition|
  - if @requisition.present?
    %h2
      Total Sponsorship Offers
      = "(#{@requisition.sponsorship_offers.count})"
    - if @requisition.sponsorship_offers.present?

      = form_for requisition, url: requisitions_sponsorship_path(requisition), method: :put, html: { id: "sponsorshipRequisitionUpdateForm" } do |f|
        .table-responsive
          %table.table.table-bordered
            %thead
              %tr
                %th Full Name
                %th Volunteer
                %th Rating
                %th
                %th
            %tbody
              - @requisition.sponsorship_offers.each do |offer|
                %tr
                  %td=  offer.creator.user.full_name
                  %td=  offer.creator.volunteer ? "Yes" : "No"
                  %td=  offer.creator.try(:total_rating) || 0
                  %td
                    = link_to "View Profile", profile_path(offer.creator.user_id)
                  %td
                    .radio.radio-success{style: "margin: 0;"}
                      = f.radio_button :provider_id, offer.creator_id, checked: false, id: "approve_offer_#{offer.id}"
                      %label{:for => "approve_offer_#{offer.id}"}
                        Select This Offer
                    = f.hidden_field :provider_type, value: offer.creator_type

        .form-actions.text-right
          = link_to "Cancel Requisition", requisition, class: "btn btn-danger btn-block-container", method: :delete, data: { confirm_title: "Remove/Cancels Requisition", confirm: "Are you sure you want to remove your requisition?" }
          = submit_tag Requisitions::SponsorshipsController::APPROVE, class: "btn btn-success btn-block-container proceed-submission", data: { confirm_title: "Proceed Requisition", confirm_message: "Are you sure you want to Approve this Offer?" }



    - else
      .bs-callout.bs-callout-danger
        No upcoming Offers for this requisition
