.requisition-details
  .container-fluid
    .row
      .col-md-2
        = image_tag requisition_progress_icons[@requisition.status], class: "img-responsive"
      .col-md-10
        %h2.page-header
          = @requisition.subject
        %p
          = @requisition.description
        %ul.list-inline
          %li
            %label Grade Level
            %br
            %span= @requisition.grade_level
          %li
            %label School
            %br
            %span= @requisition.school.name
          %li
            %label Tenure
            %br
            %span
              = @requisition.tenure
              Month(s)
          %li
            %label Status
            %br
            %span.label{class: "label-#{requisition_progress_classes[@requisition.status]}"}
              = @requisition.status.humanize
          - if Requisition.unapproved_statuses.include?(@requisition.status.to_sym)
            %li
              %label Sponsor Offers
              %br
              %span
                = "(#{@requisition.sponsorship_offers.count})"
          - if @requisition.audit_requisition.present? and Requisition.unapproved_statuses.include? @requisition.audit_requisition.status.to_sym
            %li
              %label Audit Offers
              %br
              %span
                = "(#{@requisition.audit_requisition.audit_offers.count})"
          - if @requisition.audit_requisition.present? and @requisition.audit_requisition.completed?
            %li
              %label Result
              %br
              %span.label{class: result_label[@requisition.audit_requisition.audit_report.result]}
                = @requisition.audit_requisition.audit_report.result.humanize
        - if !@requisition.rejected?
          %hr
          = link_to  progress_requisition_path(@requisition) , class: "btn btn-info btn-block-container" do
            View Status
