= render_progress "Student", requisition: @requisition, audit_requisition: @audit_requisition do |sponsorship_requisition, audit_requisition|
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "sponsor", "data-toggle" => "tab", :href => "#sponsor", :role => "tab"} My Sponsor
    %li{:role => "presentation"}
      %a{"aria-controls" => "auditor", "data-toggle" => "tab", :href => "#auditor", :role => "tab"} My Auditor
    %li{:role => "presentation"}
      %a{"aria-controls" => "review", "data-toggle" => "tab", :href => "#review", :role => "tab"} Sponsor Review
    %li{:role => "presentation"}
      %a{"aria-controls" => "invoices", "data-toggle" => "tab", :href => "#invoices", :role => "tab"} Total Invoices

  .tab-content
    #sponsor.tab-pane.fade.in.active{:role => "tabpanel"}
      .bs-callout.bs-callout-warning
        %h4
          %strong My Sponsor
      .container-fluid
        = render partial: "requisitions/shared/approved_provider_details", locals: { provider: sponsorship_requisition.provider }
    #auditor.tab-pane{:role => "tabpanel"}
      .bs-callout.bs-callout-warning
        %h4
          %strong My Auditor
      .container-fluid
        = render partial: "requisitions/shared/approved_provider_details", locals: { provider: audit_requisition.provider }
    #review.tab-pane{:role => "tabpanel"}
      .bs-callout.bs-callout-warning
        %h4
          %strong Review
      = render partial: "reviews/review_details", locals: { requisition: sponsorship_requisition, review: sponsorship_requisition.review }
    #invoices.tab-pane{:role => "tabpanel"}
      .bs-callout.bs-callout-warning
        %h4
          %strong Invoices
      = render partial: "invoices/invoices", locals: { invoices: sponsorship_requisition.invoices, hide_form: true }
