- content_for :javascript do
  Reviews.initialize()
#reviewModal.modal.fade{"aria-labelledby" => "auditorOngoingProgressModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = form_for @review, html: { id: "reviewForm" } do |f|
        %button.close.cancel{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .modal-header
          %h4#myModalLabel.modal-title.text-center
          %i.fa.fa-star
          Rate This
          = @review.ratee.participant.class.to_s
        .modal-body
          .form-group
            = label_tag :rating
            %input#rating-input{:value => f.object.rating, :name => "review[rating]"}/
          .form-group
            = label_tag :comments
            = f.text_area :comment, class: "form-control", rows: 5
          = f.hidden_field :ratee_id
          = f.hidden_field :rater_id
          = f.hidden_field :requisition_id

        .modal-footer
          .form-group
            %button.btn.btn-default.cancel{"data-dismiss" => "modal", :type => "button"} Not right now!
            = f.submit "Submit", class: "btn btn-success"
