- if review.present?
  %label Rating
  = rating_input review.rating
  %label Comment
  %p
    = simple_format review.comment
  = link_to "javascript:void(0);", data: { toggle: "modal", target: "#reviewModal", href: edit_review_path(review) }, onclick: "Reviews.openReviewModal(this);", class: "btn btn-warning btn-sm btn-block-container" do
    %i.fa.fa-star
    Edit Rating
- else
  %p
    Please rate your provider for this requistion
  = link_to "javascript:void(0);", data: { toggle: "modal", target: "#reviewModal", href: new_review_path(requisition_id: requisition.id, ratee_id: requisition.provider.user_id, rater_id: current_user.id) }, onclick: "Reviews.openReviewModal(this);", class: "btn btn-warning btn-sm btn-block-container" do
    %i.fa.fa-star
    Rate This
    = requisition.provider_type
.review-modal
  -# Review Modal Here through ajax
