:javascript
  Settings.clear_turbolinks_cache();
- if content_for(:javascript)
  #external_javascript
    :javascript
      $(function() {
        Settings.modalPopUp();
        #{yield :javascript}
      });
