-# External Javascripts
-# = render partial: "layouts/components/external_javascripts"

-# Application footer
%footer
  .container
    .row
      .col-md-8.col-sm-8.col-xs-8
        %ul.list-inline.side-left-section
          %li
            %a{href: "#"}
              &copy;
              = Date.today.year
              = "EVS"
          %li
            %a{href: "/about_us#toc"}
              Terms of use
          %li
            %a{href: "/about_us#privacy_policy"}
              Privacy Policy
      .col-md-4.col-sm-4.col-xs-4
        %ul.list-inline.side-right-section.pull-right
          %li
            %a{href: "#", target: "_blank"}
              %i.fa.fa-facebook
          %li
            %a{href: "#", target: "_blank"}
              %i.fa.fa-instagram
          %li
            %a{href: "#", target: "_blank"}
              %i.fa.fa-twitter
