!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'EVS - Education Voucher Scheme'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Evs'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  = content_tag(:body, :data => { :controller => params[:controller], :action => params[:action] }) do
    = include_gon
    = javascript_include_tag 'canvasjs.min'
    = javascript_include_tag 'jquery.canvasjs.min'
    %spinner.hide-content
      .spinner
        .bounce1
        .bounce2
        .bounce3

    %yield.hide-content
      %header
        = render 'layouts/application/navigation'
      %main{:role => "main"}
        = render 'pages/landing_banner'
        = render 'layouts/messages'
        .container
          = yield
      = render "layouts/external_javascripts"
      = render partial: "layouts/footer"
