!!!
%html
  %head
    = render 'layouts/dashboard/head.html.haml'
  %body{class: "#{params[:controller].split("/").last} #{if params[:action] == 'progress' then 'progress-body' else params[:action] end}"}
    = include_gon
    -# Spinner
    %spinner.hide-content
      .spinner
        .bounce1
        .bounce2
        .bounce3

    -# Page Body
    %yield.hide-content
      %header
        = render 'layouts/dashboard/navigation'
      %main{:role => "main"}
        = render 'pages/landing_banner'
        = render 'layouts/messages'
        .container
          = yield

        = render "layouts/external_javascripts"
      = render partial: "layouts/footer"
