!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    = wicked_pdf_stylesheet_link_tag "components/evs_audited_report_pdf"
    = wicked_pdf_javascript_include_tag "number_pages"
  %body{:onload => "number_pages"}
    .header
      = wicked_pdf_image_tag 'evs_logo.png'
      .pull-right
        %label Date
        = Date.today
    .main
      = yield

    .footer
      Education Voucher Scheme
